<% var name, path, id %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">Sayt.uz</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link <%= path == "/" ? 'active' : ''%>" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= path == "/chat" ? 'active' : ''%>" aria-current="page" href="/chat">Chat</a>
        </li>
        <% if(name) {%>
        <li class="nav-item">
          <a class="nav-link <%= path == "/profile" ? 'active' : ''%>" aria-current="page" href="/user/<%= id %>"><%= name ? name : "" %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= path == "/exit" ? 'active' : ''%>" aria-current="page"
            href="/exit">Chiqish</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link <%= path == "/login" ? 'active' : ''%>" aria-current="page" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= path == "/registration" ? 'active' : ''%>" aria-current="page" href="/registration">Registration</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>